<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <!--<command name="item:addversion" type="Sitecore.Shell.Framework.Commands.AddVersion,Sitecore.Kernel"/>-->
      <command patch:instead="*[@type='Sitecore.Shell.Framework.Commands.AddVersion,Sitecore.Kernel']" name="item:addversion" type="Sitecore.Support.Shell.Framework.Commands.AddVersion,Sitecore.Support.156205" />
    </commands>
  </sitecore>
</configuration>